@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 117 89% 44%; /* #30e40c */
    --primary-foreground: 0 0% 100%;
    --secondary: 112 91% 56%; /* #4cf42a */
    --secondary-foreground: 240 5.9% 10%;
    --muted: 108 88% 65%; /* #71f656 */
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 103 83% 74%; /* #95f882 */
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 117 89% 44%; /* #30e40c */
    --radius: 0.5rem;
    --chart-1: 117 89% 44%; /* #30e40c */
    --chart-2: 112 91% 56%; /* #4cf42a */
    --chart-3: 108 88% 65%; /* #71f656 */
    --chart-4: 103 83% 74%; /* #95f882 */
    --chart-5: 99 85% 83%; /* #bafbad */
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 117 89% 44%; /* #30e40c */
    --primary-foreground: 0 0% 100%;
    --secondary: 112 91% 56%; /* #4cf42a */
    --secondary-foreground: 0 0% 98%;
    --muted: 108 88% 65%; /* #71f656 */
    --muted-foreground: 240 5% 64.9%;
    --accent: 103 83% 74%; /* #95f882 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 117 89% 44%; /* #30e40c */
    --chart-1: 117 89% 44%; /* #30e40c */
    --chart-2: 112 91% 56%; /* #4cf42a */
    --chart-3: 108 88% 65%; /* #71f656 */
    --chart-4: 103 83% 74%; /* #95f882 */
    --chart-5: 99 85% 83%; /* #bafbad */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
